<% content_for :title, "About us" %>

<% content_for :head do %>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- PayPal SDK -->
  <script src="https://www.paypal.com/sdk/js?client-id=AZ6oz_AE_Y698cqm7EQ1-0x68EQWEP52yFP4NdW9cFTRhZUM2zg7lUtND0Kwe6NQgnC9N6uWx65qGlef&currency=GBP"></script>

<% end %>
<div class="container">
  <table class="table table-striped table-bordered mt-5">
    <thead>
    <tr class="bg-dark text-light">
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
    </tbody>
  </table>
</div>
