<%# content_for :head do %>
<!--  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">-->
<!--  <script src="https://www.paypal.com/sdk/js?client-id=AZ6oz_AE_Y698cqm7EQ1-0x68EQWEP52yFP4NdW9cFTRhZUM2zg7lUtND0Kwe6NQgnC9N6uWx65qGlef&currency=GBP"></script>-->

<%# end %>


  <% content_for :title, "New transaction" %>

  <h1>New transaction</h1>

  <%= render "form", transaction: @transaction %>

  <br>

  <div>
    <%= link_to "Back to transactions", transactions_path %>
  </div>

